<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="folderPath" value="D:\Kanhaiya\Projects\ImportLayoutDate\Files" />
    </appSettings>
    <connectionStrings>
        <add name="TICECentralServices" connectionString="data source=167.86.118.102;Database=TICECentralServices;User id=ticeuser;password=!QAZ2wsx;"/>
        <add name="TICELogging" connectionString="data source=167.86.118.102;Database=TICELogging;User id=ticeuser;password=!QAZ2wsx;"/>
    </connectionStrings>
</configuration>